In [1]:
import numpy as np
import pandas as pd
import pymc3 as pm
from scipy.stats import norm

In [2]:
df = pd.read_csv("/content/part1.csv")

## 데이터 소개

* 한 기업에서, 국제 시장 진출을 위해 10개 나라(`A, B, ..., J`)를 대상으로 100일 간 제품 시범 운영
* 각 나라마다 진출 후보 도시의 숫자가 다름

In [3]:
df.head()

  country_id city_id    profit
0          A     a00   5293.68
1          A     a00  10046.93
2          A     a00  11003.13
3          A     a00   4473.16
4          A     a00   7669.42

In [4]:
# 총 도시의 숫자
n_cities, = df.city_id.unique().shape
n_cities

143

In [5]:
# 각 국가별 도시의 숫자
(
  df[['country_id', 'city_id']]
  .drop_duplicates()
  .groupby('country_id')
  .count()
)

            city_id
country_id
A                20
B                 9
C                 8
D                14
E                19
F                18
G                 9
H                 9
I                20
J                17

* 데이터는, 각 [국가, 도시] 마다 100일 간 관찰한 순수익/이윤(`profit`)

In [ ]:
df.dtypes

country_id     object
city_id        object
profit        float64
dtype: object

## 1. 각 국가별 평균 수익률을 계산하고 95% 신뢰구간을 계산

* Assume normally distributed profit with mean $p_i$ for each country $i$ with variation $s_i^2$.
* Using bootstrap (but could use one of many other analytical solutions)

## 2. 결과를 본 임원들 왈: "평균이 제일 높은 나라 하나에 100% 진출하자!". 

* 사내 유일한 데이터 사이언티스트로서 당신의 반응/제안은?

## 3. 임원들 왈: "그러면 통계적으로 유의미하게 이윤이 $10,000 이상인 도시에만 진출하자!"

* 신뢰수준 95%에서 추정 이윤이 $10,000 이상인 **도시** 찾기

## 4. 이전 결과대로 시장 진출 할 경우 우려는?

## [고급] 5. 베이지안 확률모형으로 각 도시의 이윤에 대한 사후 확률 분포를 계산해 보기

* 현재 강의 내용만으로는 진행이 어려울 수 있음
* 비슷한 다른 예제를 참고하며 배울 수 있는 기회: 
    * https://docs.pymc.io/en/v3/nb_examples/index.html
    * https://nbviewer.org/github/fonnesbeck/multilevel_modeling/blob/master/multilevel_modeling.ipynb?create=1